body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-section {
  flex: 1;
  margin: 40px;
}

.articleAside {
  width: 25%;
  max-width: 300px;
  height: 70vh;
  background-color: #F4F4FA;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}

hr {
  width: 100%;
  border: 1px solid #ccc;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #aeaeae;
  padding: 0 40px;
  height: 80px;
}


.header-logo {
  width: 80px;
  margin: 20px;
}

.footer-logo {
  filter: grayscale(100%);
  width: 80px;
}

.footer p {
  margin: 0;
}

.select-container {
  display: flex;
  gap: 10px;
  margin: 30px;
}

.custom-select {
  background-color: #E0F7E9;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: #008B4A;
  appearance: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.custom-select:hover {
  background-color: #CFF3DC;
}

.custom-select:focus {
  box-shadow: 0 0 5px rgba(0, 139, 74, 0.5);
}

.author {
  color: rgb(225, 81, 137);
}

.title-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  margin-left: 10px;
}

.subtitle {
  color: #7d7c7c;
  line-height: 1.6;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.infoLastArticle {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  border: 1px solid #c4c3c3;
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px;
}

.titleLastArticle {
  margin: 0;
  color: #18191E;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .articleAside {
    width: 40%;
    margin: 10px 0;
    height: 50vh;
  }

  .content-section {
    width: 90%;
    margin: 20px 0;
  }

  .footer {
    flex-direction: column;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .articleAside {
    width: 100%;
    margin: 0;
    height: 50vh;
  }

  .content-section {
    width: 100%;
    margin: 10px 0;
  }

  .infoLastArticle {
    margin: 10px 0;
  }

  .select-container {
    flex-direction: column;
    margin: 20px;
  }

  .custom-select {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .content-section {
    width: 100%;
    margin: 10px 0;
  }

  .infoLastArticle {
    margin: 10px;
  }

  .select-container {
    flex-direction: column;
    margin: 10px;
  }

  .custom-select {
    width: 100%;
  }
}
