body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Remove o scroll horizontal */
  overflow-y: auto; /* Mantém o scroll vertical */
}

.container {
  display: flex;
  flex: 1; /* Faz com que o container ocupe o espaço disponível */
  justify-content: space-between; /* Espaço entre content e aside */
  flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte em telas menores */
}

.content-section {
  width: 70%; /* O conteúdo ocupa 70% da largura */
  margin: 40px;
}

.articleAside {
  width: 20vw; /* O aside ocupa 20vw da largura */
  height: 80vh; /* Ocupa toda a altura da janela de visualização */
  background-color: #f5f5f5;
  margin: 40px; /* Espaçamento semelhante ao conteúdo */
  overflow: auto; /* Ativa o scroll caso o conteúdo ultrapasse a altura */
  border-radius: 15px;
}

hr {
  width: 100%; /* Para preencher toda a largura do content-section */
  border: 1px solid #ccc;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #aeaeae;
  padding: 15px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}

.select-container {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  margin: 30px;
}

.custom-select {
  background-color: #E0F7E9;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: #008B4A;
  appearance: none;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.custom-select:hover {
  background-color: #CFF3DC;
}

.custom-select:focus {
  box-shadow: 0 0 5px rgba(0, 139, 74, 0.5);
}

.author {
  color: rgb(225, 81, 137);
}

.title-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  margin-left: 10px;
}

.subtitle {
  color: #7d7c7c;
  line-height: 1.6;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.infoLastArticle {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  text-align: start;
  border: 1px solid #adadad;
  margin: 50px;
}

.titleLastArticle {
  margin: 40px;
}

/* Media Queries */
@media (max-width: 1024px) {
  .container {
    flex-direction: column; /* Muda para coluna em telas menores */
    align-items: center; /* Centraliza o conteúdo */
  }

  .content-section {
    width: 90%; /* O conteúdo ocupa 90% em telas menores */
    margin: 20px 0; /* Ajusta o margin para telas menores */
  }

  .articleAside {
    width: 90%; /* O aside ocupa 90% em telas menores */
    height: auto; /* Altura automática em telas menores */
    margin: 20px 0; /* Ajusta o margin para telas menores */
  }

  .footer {
    flex-direction: column; /* Muda a direção para coluna em telas menores */
    padding: 10px; /* Ajusta o padding para telas menores */
  }
}

@media (max-width: 768px) {
  .select-container {
    flex-direction: column; /* Muda a direção em telas menores */
    margin: 20px; /* Ajusta o margin para telas menores */
  }
}
